<section class="geral">
  <div class="titulo">
      <h3 class="titulo">Dados do Cliente</h3>
      <div class="separador"></div>
      <button mat-raised-button color="primary" (click)="editarCliente()" *ngIf="queryParams?.id"
          [disabled]="isEditing" class="edit">
          {{!isEditing ? 'editar' : ' editando... '}}
      </button>
  </div>
  <ait-form
      [formFields]="fieldsClientePrincipal"
      [formgroup]="formCliente"
  ></ait-form>

  <div class="titulo">
      <h3 class="titulo">Endereço</h3>
      <div class="separador"></div>
  </div>
  <ait-form
      [formFields]="fieldsClienteEndereco"
      [formgroup]="formCliente"
  ></ait-form>

  <div class="titulo">
      <h3 class="titulo">Contato</h3>
      <div class="separador"></div>
  </div>
  <ait-form
      [formFields]="fieldsClienteContato"
      [formgroup]="formCliente"
  ></ait-form>
  <button mat-raised-button [ngClass]="{'saveButton':formCliente.valid}" 
      (click)="salvarCliente()" *ngIf="!formCliente.disabled" style="display: block; margin-left: auto"
      [disabled]="formCliente.invalid||formCliente.disabled">
      <mat-icon>save</mat-icon>
      Salvar
  </button>
</section>