<section class="geral">
    <div class="titulo">
        <h3 class="titulo">Dados do Fornecedor</h3>
        <div class="separador"></div>
        <button mat-raised-button color="primary" (click)="editarFornecedor()" *ngIf="queryParams?.id"
            [disabled]="isEditing" class="edit">
            {{!isEditing ? 'editar' : ' editando... '}}
        </button>
    </div>
    <ait-form
        [formFields]="fieldsFornecedorPrincipal"
        [formgroup]="formFornecedor"
    ></ait-form>

    <div class="titulo">
        <h3 class="titulo">Endereço</h3>
        <div class="separador"></div>
    </div>
    <ait-form
        [formFields]="fieldsFornecedorEndereco"
        [formgroup]="formFornecedor"
    ></ait-form>

    <div class="titulo">
        <h3 class="titulo">Contato</h3>
        <div class="separador"></div>
    </div>
    <ait-form
        [formFields]="fieldsFornecedorContato"
        [formgroup]="formFornecedor"
    ></ait-form>
    <button mat-raised-button [ngClass]="{'saveButton':formFornecedor.valid}" 
        (click)="salvarFornecedor()" *ngIf="!formFornecedor.disabled" style="display: block; margin-left: auto"
        [disabled]="formFornecedor.invalid||formFornecedor.disabled">
        <mat-icon>save</mat-icon>
        Salvar
    </button>
</section>