<mat-list>
<mat-divider></mat-divider>
<mat-list-item class="tableHeader registros">
    <div>
        <button mat-stroked-button [matMenuTriggerFor]="menu" #menuTrigger *ngIf="canChangeColumns">Colunas visiveis</button>
        <mat-menu #menu="matMenu">
            <div *ngFor="let coluna of tableColumns">
                <button mat-menu-item 
                (click)="changeColumns(coluna)"
                *ngIf="coluna!='Ações'">
                    <mat-icon *ngIf="tableVisibleColumns.includes(coluna)">check</mat-icon>
                    <span>{{coluna}}</span>
                </button>
            </div>
        </mat-menu>
        <span></span>
        <span>{{tableData.data.length}} registros</span>
    </div>
</mat-list-item>
<mat-divider></mat-divider>  
<div *ngIf="this.tableData.data.length!=0">
    <table mat-table matSort [dataSource]="tableData" class="mat-elevation-z8 tableDesktop" *ngIf="tableSource">

        <div *ngFor="let coluna of tableVisibleColumns;let i = index">
            <ng-container *ngIf="coluna!='Ações'" [matColumnDef]="coluna">
                <th mat-header-cell *matHeaderCellDef [mat-sort-header]="TranslatedColumns[i]" [sortActionDescription]="'Sort by '+ coluna">
                    <span>
                        {{coluna}} 
                    </span>
                </th>
                <td mat-cell *matCellDef="let element"> 
                    {{element[TranslatedColumns[i]]}} 
                </td>
            </ng-container>

            <ng-container *ngIf="coluna=='Ações'" matColumnDef="Ações">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="hasEdit&&hasDelete">
                        <button mat-icon-button [matMenuTriggerFor]="belowMenu" class="editElement">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #belowMenu="matMenu" yPosition="below">
                            <button mat-menu-item class="actions" (click)="editFunction.emit(element['id'])">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item class="actions"(click)="confirmDelete(element['id'])">
                                <mat-icon>delete</mat-icon>
                                <span>Excluir</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div *ngIf="hasEdit&&hasDelete==false">
                        <button mat-icon-button class="actions" (click)="editFunction.emit(element['id'])">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="hasDelete&&hasEdit==false">
                        <button mat-icon-button class="actions"(click)="confirmDelete(element['id'])">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
        </div>

        <tr mat-header-row *matHeaderRowDef="tableVisibleColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableVisibleColumns;"
            class="element-row"
        ></tr>
    </table>

    <mat-paginator *ngIf="hasPaginator" [pageSizeOptions]="[paginatorInterval, paginatorInterval*2, paginatorInterval*3]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
        class="tableDesktop">
    </mat-paginator>

    <table class="data tableMobile" >
        <tr *ngFor="let element of tableData.data">
            <section>
                <div *ngFor="let coluna of tableVisibleColumns;let i = index">
                    <tr>
                        <th *ngIf="coluna!='Ações'">{{coluna}}</th>
                    </tr>
                    <tr>
                        <td *ngIf="coluna!='Ações'">{{element[TranslatedColumns[i]]}}</td>
                    </tr>
                </div>
            </section>
            <section *ngIf="hasEdit||hasDelete">
                <tr>
                    <th>Ações</th>
                </tr>
                <tr>
                    <td *ngIf="hasEdit&&hasDelete">
                        <button mat-icon-button [matMenuTriggerFor]="belowMenu" class="editElement">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #belowMenu="matMenu" yPosition="below">
                            <button mat-menu-item class="actions" (click)="editFunction.emit(element['id'])">
                                <mat-icon>edit</mat-icon>
                                <span>Editar</span>
                            </button>
                            <button mat-menu-item class="actions"(click)="confirmDelete(element['id'])">
                                <mat-icon>delete</mat-icon>
                                <span>Excluir</span>
                            </button>
                        </mat-menu>
                    </td>
                    <td *ngIf="hasEdit&&hasDelete==false">
                        <button mat-icon-button class="actions" (click)="editFunction.emit(element['id'])">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                    <td *ngIf="hasDelete&&hasEdit==false">
                        <button mat-icon-button class="actions" (click)="confirmDelete(element['id'])">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </section>
        </tr>
    </table>
</div>

<div *ngIf="this.tableData.data.length==0" class="noData">
    <span>Nenhum registro encontrado</span>
    <span>altere o filtro aplicado ou adicione um novo registro</span>
</div>

</mat-list>