<section class="geral">
    <div class="titulo">
        <h3 class="titulo">Dados do serviço</h3>
        <div class="separador"></div>
        <button mat-raised-button color="primary" (click)="editarServico()" *ngIf="queryParams?.id"
            [disabled]="isEditing" class="edit">
            {{!isEditing ? 'editar' : ' editando... '}}
        </button>
    </div>
    <ait-form
        [formFields]="fieldsServico"
        [formgroup]="formServico"
    ></ait-form>
    <button mat-raised-button [ngClass]="{'saveButton':formServico.valid}" (click)="salvarServico()" *ngIf="!formServico.disabled"
        [disabled]="formServico.invalid||formServico.disabled" style="display: block; margin-left: auto">
        <mat-icon>save</mat-icon>
        Salvar
    </button>
</section>