<section class="geral">
    <div class="titulo">
        <h3 class="titulo">Dados do serviço</h3>
        <div class="separador"></div>
        <button mat-raised-button color="primary" (click)="editarServico()" *ngIf="queryParams?.id"
            [disabled]="isEditing" style="margin-left: auto">
            <mat-icon>save</mat-icon>
            {{!isEditing ? 'editar' : ' editando... '}}
        </button>
    </div>
    <ait-form
        [formFields]="fieldsCadastroServico"
        [formgroup]="formCadastroServico"
    ></ait-form>
    <button mat-raised-button [ngClass]="{'saveButton':formCadastroServico.valid}" (click)="salvarServico()" *ngIf="!formCadastroServico.disabled"
        [disabled]="formCadastroServico.invalid||formCadastroServico.disabled" style="display: block; margin-left: auto">
        <mat-icon>save</mat-icon>
        Salvar
    </button>
</section>